.arial0 {
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
color: black;
}
.arial {
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.arial2 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.arial3 {
   font-family: Georgia, 'Times New Roman', Times, serif;
}
